body {
    display: flex;
    justify-content: center;
}

.block {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.comment {
    width: 220px;
    height: 260px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(4, 139, 255, 0.77);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
}

.comment:hover {
    background: #51acfd;
}

.comment h3 {
    margin: 0;
}

.comment h4 {
    height: 50px;
}