.dataUser {
    border: 3px solid grey;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }

.user_id {
    display: flex;
    grid-gap: 20px;
    border-bottom: 1px solid red;
}

.user_id>h4 {
    border-radius: 50%;
    background: black;
    width: 25px;
    height: 25px;
    color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user_id>h2:hover {
    color: cornflowerblue;
    cursor: pointer;
}
